@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    letter-spacing: 0.6rem;
  }

  .moon-icon-style {
    filter: brightness(0) saturate(100%) invert(88%) sepia(1%) saturate(1%)
      hue-rotate(300deg) brightness(99%) contrast(101%);
  }

  .sun-icon-style {
    filter: brightness(0) saturate(100%) invert(71%) sepia(73%) saturate(0%)
      hue-rotate(255deg) brightness(103%) contrast(89%);
  }
}
